@font-face {
    font-family: josefin-sans-light;
    src: url('./assets/fonts/Josefin_sans-Light.ttf');
}

@font-face {
    font-family: josefin-sans;
    src: url('./assets/fonts/Josefin_sans-Thin.ttf')
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    height: 100vh;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ^^^^^^^^^^^^^^^^^^^^^^ CSS RESET ^^^^^^^^^^^^^^^^^^^^^^^ */

/* * {
    outline: 1px solid purple;
} */


.no-style-button {
    all: unset;
}

.block {
    display: inline-block;
}

body {
    position: relative;
    align-items: center;
    justify-content: center;
    --font-color: rgb(253, 255, 219);
    --dark-font: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgb(28,35,64);
    background: linear-gradient(0deg, rgba(28,35,64,1) 0%, rgba(0,0,0,1) 100%);
    color: var(--font-color);
}

.header {
    display: flex;
    justify-content: space-between;
}

.nav-links {
    display: flex;
}

.section {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    padding: 40px 60px 60px 60px;
    align-items: start;
    justify-content: space-between;
    width: 90%;
}

.intro {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-row-start: 1;
    max-width: 1000px;
    row-gap: 30px;
    font-family: josefin-sans-light;
}

.links {
    font-size: larger;
    display: grid;
    row-gap: 20px;
    font-family: josefin-sans;
    align-self: flex-end;
}


.github {
    grid-column-start: 2;
    justify-self: end;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: inherit;
    opacity: .5;
    transition: 0.3s;
}

.github:hover {
    opacity: 1;
}

.proj-li {
    display: grid;
    grid-template-columns: 1fr 3.5fr 1fr;
}

.right-align {
    justify-self: end;
}

.li-button {
    width: 100%;
    cursor: pointer;
    transition: opacity 0.3s;
}

.lower-opacity {
    opacity: 0.3;
}

.word {
    display: flex;
}

.letter {
    font-size:70px;
    align-self: center;
    justify-self: center;
}

/* 'bush' */
.letter:nth-child(n+6):nth-child(-n+9) {
    grid-row-start: 2;
}

/* 'web' */
.letter:nth-child(n+10):nth-child(-n+12) {
    grid-row-start: 3;
    font-weight: bolder;
}

/* 'dev */
.letter:nth-child(n+13):nth-child(-n+15) {
    grid-row-start: 4;
    font-weight: bolder;
}

.b2 {
    grid-column-start: 3;
}

.u {
    grid-column-start: 4;
}

.s {
    grid-column-start: 5;
}

.h {
    grid-column-start: 6;
}

.w {
    grid-column-start: 5;
}

.e2 {
    grid-column-start: 6;
}

.b3 {
    grid-column-start: 7;
}

.d {
    grid-column-start: 7;
}

.e3 {
    grid-column-start: 8;
}

.v {
    grid-column-start: 9;
}

.logo {
    display: flex;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.modal {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    position: absolute;
    justify-content: center;
    background-color: var(--font-color);
    color: var(--dark-font);
    z-index: 2;
    border-radius: 25px;
    animation-name: animatebottom;
    animation-duration: 0.6s;
    font-family: josefin-sans-light;
    max-width: 800px;
    font-weight: bolder;
}

.modal-title {
    font-size: x-large;
}

.preview {
    border: 1px solid var(--dark-font);
    max-width: 800px;
    align-self: center;
    border-radius: 10px;
}

.link-button {
    border: 1px solid var(--dark-font);
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}

.scale-up:hover {
    transform: scale(1.1);
}

.github-logo {
    height: 35px;
    width: 35px;
}

.technologies {
    align-self: center;
    font-size: small;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
  }

  .btn-close {
    all: unset;
    align-self: flex-end;
    background-color: rgba(0, 0, 0, 0.78);
    color: white;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    font-size: x-large;
    text-align: center;
    box-shadow: 1px 1px 1px grey;
    cursor: pointer;
  }

  .hidden {
    display: none;
  }

  @keyframes animatebottom {
    from {bottom: -1000px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }

@media screen and (max-width: 767px) {
    .letter {
        font-size:46px;
    }

    .section {
        height: 100vh;
        padding: 70px 10px 10px 10px;
        grid-template-columns: 320px;
        grid-template-rows: 2fr 1fr 25px;
        align-self: center;
        justify-self: center;
    }

    .github {
        grid-column-start: 1;
        grid-row-start: 3;
        align-self: center;
        justify-self: center;
        opacity: 1;
    }

    .links {
        align-self: center;
        justify-self: center;
    }

    .li-button {
        opacity: 1;
    }

    .modal {
        max-width: 300px;
    }

    .preview {
        max-width: 300px;
    }
  }